@model TipoCuenta
@{
    ViewData["Ttitle"] = "Crear tipo cuenta";
}

<h1>Crear tipo cuenta</h1>
<h5>El tipo de cuenta se refiere a cómo podemos agrupar cuentas. Ejemplos: Prestamos, tarjeta de crédito, etc.</h5>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-controller="TiposCuenta" asp-action="Crear">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input type="text" asp-for="Nombre" id="Nombre" class="form-control"/>
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

@section Scripts {
    <partial name="_ValidationScripsPartial" />
}